<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Crea un evento</h1>
            <form method="POST" action="/events" class="p-4 border rounded shadow-sm bg-light">
                <input type="hidden" name="owner" value="{{userId}}">
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input type="text" class="form-control" id="title" name="title" required />
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Fecha</label>
                    <input type="date" class="form-control" id="date" name="date" required />
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Tipo</label>
                    <select name="type" id="type" class="form-select">
                        <option value="feria">Feria</option>
                        <option value="expo">Exposicion</option>
                        <option value="taller">Taller</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="places" class="form-label">Cupos maximos</label>
                    <input type="number" class="form-control" id="places" name="places" required />
                </div>
                <button type="submit" class="btn btn-primary w-100">Crear álbum</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Eventos</h1>
            {{#if events.length}}
            <ul class="list-group">
                {{#each events}}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/events/{{this.id}}" class="text-decoration-none">({{this.type}}) {{this.title}}</a>
                    <P>Fecha: {{this.date}}</P>
                    <form action="/events/{{this.id}}" method="post">
                        <button type="submit" class="btn btn-primary btn-sm">Inscribirse</button>
                    </form>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p class="text-muted text-center">Todavía no tienes álbumes.</p>
            {{/if}}
        </div>
    </div>
</div>
<button
    class="btn btn-danger position-fixed bottom-0 end-0 m-4 shadow rounded-circle d-flex align-items-center justify-content-center"
    style="width: 60px; height: 60px; z-index: 1050;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNotif">
    <span class="fs-5 fw-bold">{{notis}}</span>
</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNotif" aria-labelledby="offcanvasNotifLabel">
    <div class="offcanvas-header">
        <ul class="list-group">
            {{#each notifications}}
            {{#if this.status}}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <img src="/{{this.avatar}}" alt="Avatar" class="rounded-circle" width="40" height="40">
                    {{#if (compare type "friend")}}
                    <strong>Solicitud de amistad de:</strong> {{this.usuario_envia}}
                    {{else}}
                    <strong>Comentario de:</strong> {{this.usuario_envia}}
                    {{/if}}
                </div>
                <div class="d-flex gap-2">
                    {{#if (compare type "friend")}}
                    <form action="/friends/{{this.id}}" method="post" class="d-inline">
                        <input type="hidden" name="id_user_from" value="{{this.user_id_send}}" />
                        <input type="hidden" name="id_user_to" value="{{this.user_id_receives}}" />
                        <button type="submit" class="btn btn-success btn-sm" name="action"
                            value="accept">Aceptar</button>
                        <button type="submit" class="btn btn-danger btn-sm" name="action"
                            value="decline">Rechazar</button>
                    </form>
                    {{else}}
                    <a href="/images/{{this.image}}" class="btn btn-success btn-sm">Ver comentario</a><a
                        href="/notifications/update/{{this.id}}" class="btn btn-danger btn-sm">X</a>
                    {{/if}}
                </div>
            </li>
            {{/if}}
            {{/each}}
        </ul>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
    </div>
</div>